.svg-arrow-dims {
  width: 14px;
  height: 14px;
}

.svg-box-dims {
  width: 30px;
  height: 30px;
}

.svg-calendar-dims {
  width: 14px;
  height: 14px;
}

.svg-chat-dims {
  width: 25px;
  height: 25px;
}

.svg-check-all-dims {
  width: 30px;
  height: 30px;
}

.svg-document-dims {
  width: 30px;
  height: 30px;
}

.svg-gallery-dims {
  width: 30px;
  height: 30px;
}

.svg-journal-dims {
  width: 30px;
  height: 30px;
}

.svg-logo-dims {
  width: 262px;
  height: 60px;
}

.svg-loop-dims {
  width: 16px;
  height: 16px;
}

.svg-newspaper-dims {
  width: 30px;
  height: 30px;
}

.svg-qa-dims {
  width: 30px;
  height: 30px;
}

