<div class="app-categories">
    <div class="app-container">

        <nav class="app-categories__blocks">
            <a href="#" class="app-category">
                <div class="app-category__icon">
                    <svg class="svg-gallery-dims --svg-logo-beige">
                        <use xlink:href="assets/icons/sprite.svg#gallery"></use>
                    </svg>
                </div>
                <div class="app-category__title">
                    Фотоальбомы
                </div>
            </a>
            <a href="#" class="app-category">
                <div class="app-category__icon">
                    <svg class="svg-journal-dims --svg-logo-beige">
                        <use xlink:href="assets/icons/sprite.svg#journal"></use>
                    </svg>
                </div>
                <div class="app-category__title">
                    Книга отзывов
                </div>
            </a>
            <a href="#" class="app-category">
                <div class="app-category__icon">
                    <svg class="svg-newspaper-dims --svg-logo-beige">
                        <use xlink:href="assets/icons/sprite.svg#newspaper"></use>
                    </svg>
                </div>
                <div class="app-category__title">
                    Доска объявлений
                </div>
            </a>
            <a href="#" class="app-category">
                <div class="app-category__icon">
                    <svg class="svg-qa-dims --svg-logo-beige">
                        <use xlink:href="assets/icons/sprite.svg#qa"></use>
                    </svg>
                </div>
                <div class="app-category__title">
                    Вопрос-ответ
                </div>
            </a>
            <a href="#" class="app-category">
                <div class="app-category__icon">
                    <svg class="svg-check-all-dims --svg-logo-beige">
                        <use xlink:href="assets/icons/sprite.svg#check-all"></use>
                    </svg>
                </div>
                <div class="app-category__title">
                    Голосования и опросы
                </div>
            </a>
            <a href="#" class="app-category">
                <div class="app-category__icon">
                    <svg class="svg-document-dims --svg-logo-beige">
                        <use xlink:href="assets/icons/sprite.svg#document"></use>
                    </svg>
                </div>
                <div class="app-category__title">
                    Публикации
                </div>
            </a>
            <a href="#" class="app-category">
                <div class="app-category__icon">
                    <svg class="svg-box-dims --svg-logo-beige">
                        <use xlink:href="assets/icons/sprite.svg#box"></use>
                    </svg>
                </div>
                <div class="app-category__title">
                    Купить билеты
                </div>
            </a>
        </nav>

    </div>
</div>
