<div class="app-groups">
    <div class="app-container">
        <div class="app-groups__blocks">
            <div class="app-group">
                <div class="app-group__image">
                    <img src="/assets/images/groups/children.svg" alt="Children">
                </div>
                <a href="#" class="app-group__title">Детям</a>
            </div>
            <div class="app-group">
                <div class="app-group__image">
                    <img src="/assets/images/groups/family.svg" alt="Family">
                </div>
                <a href="#" class="app-group__title">Семьям</a>
            </div>
            <div class="app-group">
                <div class="app-group__image">
                    <img src="/assets/images/groups/adults.svg" alt="Adults">
                </div>
                <a href="#" class="app-group__title">Взрослым</a>
            </div>
            <div class="app-group">
                <div class="app-group__image">
                    <img src="/assets/images/groups/groups.svg" alt="Groups">
                </div>
                <a href="#" class="app-group__title">Группам</a>
            </div>
        </div>
    </div>
</div>
