<header class="app-header">
    <div class="app-container">
        <div class="app-header__section">
            <div class="app-header__top">

                <div class="app-header__logo">
                    <a href="/" title="На главную страницу" class="app-header__logo-link">
                        <svg class="svg-logo-dims app-header__logo-svg --svg-logo-white">
                            <use xlink:href="assets/icons/sprite.svg#logo"></use>
                        </svg>
                    </a>
                </div>

                <div class="app-header__information">
                    <div class="app-header__panel">
                        <div class="app-header__panel-item">
                            <div class="app-header__weather">
                                <div class="app-weather">
                                    <div class="app-weather__icon">
                                        <img src="/assets/images/header/weather.png" alt="Snowing">
                                    </div>
                                    <div class="app-weather__temperature">
                                        -46ºC
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="app-header__panel-item">
                            <a href="#lang" class="app-header__language">
                                ENG
                            </a>
                        </div>
                        <div class="app-header__panel-item">
                            <a href="#search" class="app-header__search">
                                <svg class="svg-loop-dims --svg-logo-white">
                                    <use xlink:href="assets/icons/sprite.svg#loop"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="app-header__panel-item">
                            <a href="#chat" class="app-header__messages">
                                <svg class="svg-chat-dims --svg-logo-white">
                                    <use xlink:href="assets/icons/sprite.svg#chat"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="app-header__navigation">
                <nav class="app-navigation">
                    <a href="#" class="app-navigation__link app-navigation__link-active">О нас</a>
                    <a href="#" class="app-navigation__link">Пресс-центр</a>
                    <a href="#" class="app-navigation__link">Развивать</a>
                    <a href="#" class="app-navigation__link">Просвещать</a>
                    <a href="#" class="app-navigation__link">Помогать</a>
                    <a href="#" class="app-navigation__link">Исследовать</a>
                    <a href="#" class="app-navigation__link">Сохранять</a>
                    <a href="#" class="app-navigation__link">Путешествуй</a>
                    <a href="#" class="app-navigation__link">Документы</a>
                    <a href="#" class="app-navigation__link">Контакты</a>
                </nav>
            </div>
        </div>
    </div>

</header>
