<div class="app-news">
    <div class="app-container">
        <h3 class="app-title">Новости</h3>
        <div class="app-news__blocks">
<!--            <a href="#" class="app-news__card">-->
<!--                <div class="app-news__card-image">-->
<!--                    <img src="/assets/images/news/image-1.png" alt="Image 1">-->
<!--                </div>-->
<!--                <div class="app-news__card-content">-->
<!--                    <div class="app-news__card-title">-->
<!--                        Что может быть приятней в выходной день, чем поездка-->
<!--                        на Ленские столбы в дружной и весёлой компании-->
<!--                    </div>-->
<!--                    <div class="app-news__card-meta">-->
<!--                        <div class="app-news__card-calendar">-->
<!--                            <svg class="svg-calendar-dims &#45;&#45;svg-logo-white">-->
<!--                                <use xlink:href="assets/icons/sprite.svg#calendar"></use>-->
<!--                            </svg>-->
<!--                            <span>27 апреля 2020</span>-->
<!--                        </div>-->
<!--                        <div class="app-news__card-more">-->
<!--                            <span>Подробнее</span>-->
<!--                            <img src="/assets/images/more.svg" alt="More">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->
            <div class="app-news__blocks-item">
                <a href="#" class="app-news__card">
                    <div class="app-news__card-image">
                        <img src="/assets/images/news/image-1.png" alt="Image 1">
                    </div>
                    <div class="app-news__card-content">
                        <div class="app-news__card-title">
                            Что может быть приятней в выходной день, чем поездка
                            на Ленские столбы в дружной и весёлой компании
                        </div>
                        <div class="app-news__card-meta">
                            <div class="app-news__card-calendar">
                                <svg class="svg-calendar-dims --svg-logo-white">
                                    <use xlink:href="assets/icons/sprite.svg#calendar"></use>
                                </svg>
                                <span>27 апреля 2020</span>
                            </div>
                            <div class="app-news__card-more">
                                <span>Подробнее</span>
                                <img src="/assets/images/more.svg" alt="More">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="app-news__blocks-item">
                <a href="#" class="app-news__card">
                    <div class="app-news__card-image">
                        <img src="/assets/images/news/image-2.png" alt="Image 2">
                    </div>
                    <div class="app-news__card-content">
                        <div class="app-news__card-title">
                            Что может быть приятней в выходной день, чем поездка
                            на Ленские столбы в дружной и весёлой компании
                        </div>
                        <div class="app-news__card-meta">
                            <div class="app-news__card-calendar">
                                <svg class="svg-calendar-dims --svg-logo-white">
                                    <use xlink:href="assets/icons/sprite.svg#calendar"></use>
                                </svg>
                                <span>27 апреля 2020</span>
                            </div>
                            <div class="app-news__card-more">
                                <span>Подробнее</span>
                                <img src="/assets/images/more.svg" alt="More">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="app-news__blocks-item">
                <div class="app-news__blocks-subitem">
                    <a href="#" class="app-news__card">
                        <div class="app-news__card-image">
                            <img src="/assets/images/news/image-3.png" alt="Image 3">
                        </div>
                        <div class="app-news__card-content">
                            <div class="app-news__card-title">
                                Что может быть приятней в выходной день, чем поездка
                                на Ленские столбы в дружной и весёлой компании
                            </div>
                            <div class="app-news__card-meta">
                                <div class="app-news__card-calendar">
                                    <svg class="svg-calendar-dims --svg-logo-white">
                                        <use xlink:href="assets/icons/sprite.svg#calendar"></use>
                                    </svg>
                                    <span>27 апреля 2020</span>
                                </div>
                                <div class="app-news__card-more">
                                    <img src="/assets/images/more.svg" alt="More">
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="app-news__blocks-subitem">
                    <a href="#" class="app-news__card">
                        <div class="app-news__card-image">
                            <img src="/assets/images/news/image-4.png" alt="Image 4">
                        </div>
                        <div class="app-news__card-content">
                            <div class="app-news__card-title">
                                Что может быть приятней в выходной день, чем поездка
                                на Ленские столбы в дружной и весёлой компании
                            </div>
                            <div class="app-news__card-meta">
                                <div class="app-news__card-calendar">
                                    <svg class="svg-calendar-dims --svg-logo-white">
                                        <use xlink:href="assets/icons/sprite.svg#calendar"></use>
                                    </svg>
                                    <span>27 апреля 2020</span>
                                </div>
                                <div class="app-news__card-more">
                                    <img src="/assets/images/more.svg" alt="More">
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
