<div class="app-visitor">
    <div class="app-container">
        <h3 class="app-title">Посетителю</h3>
        <div class="app-visitor__blocks">
            <a href="#" class="app-visitor__card --visitor-card-green">
                <div class="app-visitor__card-title">
                    Маршруты и карты
                </div>
                <div class="app-visitor__card-description">
                    Все тропы и маршруты<br>«Национального парка Ленские столбы»
                </div>
                <div class="app-visitor__card-image">
                    <img src="/assets/images/visitor/location.svg" alt="Location">
                </div>
            </a>
            <a href="#" class="app-visitor__card --visitor-card-green">
                <div class="app-visitor__card-title">
                    Размещение
                </div>
                <div class="app-visitor__card-description">
                    Турприюты и гостевые дома «Национального<br>парка Ленские столбы»
                </div>
                <div class="app-visitor__card-image">
                    <img src="/assets/images/visitor/house.svg" alt="House">
                </div>
            </a>
            <a href="#" class="app-visitor__card --visitor-card-green">
                <div class="app-visitor__card-title">
                    Правила размещения
                </div>
                <div class="app-visitor__card-description">
                    Как нужно себя вести на особо охраняемых природных территориях, подведомственных «Национального парка Ленские столбы»
                </div>
                <div class="app-visitor__card-image">
                    <img src="/assets/images/visitor/rules.svg" alt="Rules">
                </div>
            </a>
            <a href="#" class="app-visitor__card --visitor-card-beige">
                <div class="app-visitor__card-title">
                    Вопрос-ответ
                </div>
                <div class="app-visitor__card-description">
                    Ответы на самые часто задаваемые вопросы<br>наших гостей
                </div>
                <div class="app-visitor__card-image">
                    <img src="/assets/images/visitor/qa.svg" alt="QA">
                </div>
            </a>
            <a href="#" class="app-visitor__card --visitor-card-beige">
                <div class="app-visitor__card-title">
                    Объявления
                </div>
                <div class="app-visitor__card-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, psum dolor sit amet, consectetur adipiscing elit
                </div>
                <div class="app-visitor__card-image">
                    <img src="/assets/images/visitor/announcement.svg" alt="Announcement">
                </div>
            </a>
            <a href="#" class="app-visitor__card --visitor-card-beige">
                <div class="app-visitor__card-title">
                    Голосования и опросы
                </div>
                <div class="app-visitor__card-description">
                    Как нужно себя вести на особо охраняемых природных территориях, подведомственных «Национального парка Ленские столбы»
                </div>
                <div class="app-visitor__card-image">
                    <img src="/assets/images/visitor/check.svg" alt="Check">
                </div>
            </a>
        </div>
    </div>
</div>
